{{ form_start(form) }}
   
    {{ form_row(form.startDate, { 'label': 'At' }) }}
    {{ form_row(form.guests) }}
    {{ form_row(form.menu) }}
    
    <button class="btn btn-success">Purchase</button>
{{ form_end(form) }}