{% extends 'base.html.twig' %}

{% block title %}{{ plan.name }}{% endblock %}

{% block stylesheets %}
    <style>
    .hero_in.restaurant_detail{
        background:url({{ asset('/uploads/plans/'~plan.image)| imagine_filter('my_filter_1200_250') }}) center center no-repeat;
        background-size: 100% 350px;
    }

	.menu_nav {
	background: #004dda;
	padding: 15px 0;
	}
	.menu_nav.is_stuck {
	z-index: 99;
	width: 100% !important;
	left: 0;
	}
	.menu_nav ul {
	margin-bottom: 0;
	}
	.menu_nav ul li {
	display: inline-block;
	margin-right: 20px;
	font-weight: 500;
	font-size: 16px;
	font-size: 1rem;
	}
	.menu_nav ul li a {
	color: rgba(255, 255, 255, 0.5);
	}
	.menu_nav ul li a:hover {
	color: #fff;
	opacity: 1;
	}
	.menu_nav ul li a.active {
	color: #fff;
	}
	.menu_nav ul li:last-child {
	display: none;
	}
	@media (max-width: 575px) {
	.menu_nav ul li:last-child {
		display: inline-block;
	}
	}


	.box{
	position: relative;
	border: 1px solid #e5e5e5;
	margin-bottom: 30px;
	border-radius: 3px;

	}
	.box-img{
	position:relative;

	}
	.box-img .boxdec{
	position: absolute;
	text-align: center;
	margin: 0 auto;
	top: 47%;
	font-size: 24px;
	font-weight: 600;
	text-transform: capitalize;
	width: 100%;
	color: #ffffff;
	}
	.box-img img{
	width:100%;
	height: 200px
	}
	.box-heading1
	{
	position: absolute;
	top: 160px;
	left: 10px;
	font-size: 16px;
	line-height: 0;
	color: #ffffff;
	font-weight: 600;
	}

	.box-heading2
	{
	font-size: 14px;
	color: #fff;
	padding-top: 7px;
	font-weight: 600;
	}
	.box-heading2 .fa{
	color:#fff;
	}

	.box-heading3 a{
		text-decoration: none !important;
	}
	.box-heading3 i{
		color: red;
	}
	
	.box-heading4 p{
		margin-top: 10px;
		padding: 10px;
		text-align: left;
	}
	
  	</style>
{% endblock %}

{% block body %}
	
		<div class="hero_in restaurant_detail">
			<div class="wrapper">
            {% if plan.photos %}
				<span class="magnific-gallery">
					<a href="/uploads/plans/{{ plan.image }}" class="btn_photos" title="Photo title" data-effect="mfp-zoom-in">View photos</a>
                    {% for pic in plan.photos %}
					<a href="/uploads/photos/{{pic}}" title="Photo title" data-effect="mfp-zoom-in"></a>
                    {% endfor %}
				</span>
             {% endif %}
			</div>
		</div>
		<!--/hero_in-->
		
		<nav class="menu_nav">
			<div class="container">
				<ul class="clearfix">
					<li><a href="{{ path('show.plan', { 'slug' : plan.slug , 'id' : plan.id }) }}">Home</a></li>
                    <li><a href="{{ path('show.plan.products', { 'slug' : plan.slug , 'id' : plan.id }) }}">Products</a></li>
					<li><a  class="active" href="{{ path('show.plan.events', { 'slug' : plan.slug , 'id' : plan.id }) }}">Events</a></li>
                    <li><a href="{{ path('show.plan.photos', { 'slug' : plan.slug , 'id' : plan.id }) }}">Photos</a></li>
                    <li><a href="{{ path('show.plan.reviews', { 'slug' : plan.slug , 'id' : plan.id }) }}">Reviews</a></li>

					<li></li>
				</ul>
			</div>
		</nav>

		<div class="container margin_60_35">
				<div class="row">
					{% for event in events %}
							<div class="col-md-4 col-xs-12 ">
								<div class="box">
									<div class="box-img">
										<img src="{{ asset('uploads/events/'~event.image) | imagine_filter('my_filter_350_350') }}" class="img" alt="" title="" >
									</div>
									<div class="box-heading1">
										{{ event.name }}
										<div class="box-heading2">
											<i class="fas fa-money-bill"></i> &nbsp;  {{ event.price }} DT<br>
											<i class="fas fa-clock"></i> &nbsp;  {{ event.dateEvent|date("m/d/Y H:m") }} 
										</div>
									</div>
									<div class="box-heading4">
										<p>{{ event.description | raw }}</p>
									</div>

									<div class="box-heading3">
									{% if app.user %}
										{% for role in app.user.roles %}
											{% if role == 'ROLE_USER' %}
											<a href="{{ path('customer_event_like', {'id' : event.id})}}" class="btn btn-link js-like">
													{% if  app.user and event.isLikedByUser(app.user) %}
														<i class="fas fa-heart"></i>
													{% else %}
														<i class="far fa-heart"></i>
													{% endif %}
													<span class="js-likes">{{ event.eventLikes | length }}  </span><span> likes</span>
												</a>
											{% endif %}
										{% endfor %}
									{% endif %}
									</div>
								</div>
							</div>
						{% else %}
									<h6 style="margin-left: 31px;">no records found</h6>

								{% endfor %}
				</div>
				<!-- /row -->
			<div class="text-center">
				{# display navigation #}
				<div class="navigation">
					{{ knp_pagination_render(events, null, {}, {
							'position': 'centered',
							'size': 'medium',
							'rounded': true,
							}) }}
				</div>
			</div>
		</div>
		<!-- /container -->
		

	


{% endblock %}

{% block javascripts %}

<script src="/js/axios.min.js"></script>

<script>

    function onClickBtnLike(event){
        event.preventDefault();

        const url = this.href ;
        const spanCount = this.querySelector('span.js-likes');
        const icone = this.querySelector('i');

        axios.get(url).then(function(reponse){
            spanCount.textContent = reponse.data.likes;

            if(icone.classList.contains('fas')){
                icone.classList.replace('fas', 'far');
            }else{
                icone.classList.replace('far', 'fas');
            }

        }).catch(function(error){
            if(error.response.status === 403){
                window.alert("Vous ne pouvez pas liker un article si vous n'etes pas connecté ");
            } else{
                window.alert("Une error s'est produite, reessayer plus tard  ");
            }
        });
    }

    document.querySelectorAll('a.js-like').forEach(function(link){
        link.addEventListener('click', onClickBtnLike)
    })



</script>



{% endblock %}
