{% extends 'base.html.twig' %}

{% block title %}{{ plan.name }}{% endblock %}
{% set test = '0' %}
{% block stylesheets %}
    <style>
    .hero_in.restaurant_detail{
        background:url({{ asset('/uploads/plans/'~plan.image)| imagine_filter('my_filter_1200_250') }}) center center no-repeat;
        background-size: 100% 350px;
    }

	.menu_nav {
	background: #004dda;
	padding: 15px 0;
	}
	.menu_nav.is_stuck {
	z-index: 99;
	width: 100% !important;
	left: 0;
	}
	.menu_nav ul {
	margin-bottom: 0;
	}
	.menu_nav ul li {
	display: inline-block;
	margin-right: 20px;
	font-weight: 500;
	font-size: 16px;
	font-size: 1rem;
	}
	.menu_nav ul li a {
	color: rgba(255, 255, 255, 0.5);
	}
	.menu_nav ul li a:hover {
	color: #fff;
	opacity: 1;
	}
	.menu_nav ul li a.active {
	color: #fff;
	}
	.menu_nav ul li:last-child {
	display: none;
	}
	@media (max-width: 575px) {
	.menu_nav ul li:last-child {
		display: inline-block;
	}
	}


	.box{
	position: relative;
	border: 1px solid #e5e5e5;
	margin-bottom: 30px;
	border-radius: 3px;

	}
	.box-img{
	position:relative;

	}
	.box-img .boxdec{
	position: absolute;
	text-align: center;
	margin: 0 auto;
	top: 47%;
	font-size: 24px;
	font-weight: 600;
	text-transform: capitalize;
	width: 100%;
	color: #ffffff;
	}
	.box-img img{
	width:100%;
	height: 200px
	}
	.box-heading1
	{
	position: absolute;
	top: 160px;
	left: 10px;
	font-size: 16px;
	line-height: 0;
	color: #ffffff;
	font-weight: 600;
	}

	.box-heading2
	{
	font-size: 14px;
	color: #fff;
	padding-top: 24px;
	font-weight: 600;
	}
	.box-heading2 .fa{
	color:#fff;
	}

	.box-heading3 a{
		text-decoration: none !important;
	}
	.box-heading3 i{
		color: red;
	}
	
	.box-heading4 p{
		margin-top: 10px;
		padding: 10px;
		text-align: left;
	}



	
  	</style>
{% endblock %}

{% block body %}

		<div class="hero_in restaurant_detail">
			<div class="wrapper">
            {% if plan.photos %}
				<span class="magnific-gallery">
					<a href="/uploads/plans/{{ plan.image }}" class="btn_photos" title="Photo title" data-effect="mfp-zoom-in">View photos</a>
                    {% for pic in plan.photos %}
					<a href="/uploads/photos/{{pic}}" title="Photo title" data-effect="mfp-zoom-in"></a>
                    {% endfor %}
				</span>
             {% endif %}
			</div>
		</div>
		<!--/hero_in-->
	
		<nav class="menu_nav">
			<div class="container">
				<ul class="clearfix">
					<li><a href="{{ path('show.plan', { 'slug' : plan.slug , 'id' : plan.id }) }}">Home</a></li>
                    <li><a href="{{ path('show.plan.products', { 'slug' : plan.slug , 'id' : plan.id }) }}">Products</a></li>
					<li><a href="{{ path('show.plan.events', { 'slug' : plan.slug , 'id' : plan.id }) }}">Events</a></li>
                    <li><a href="{{ path('show.plan.photos', { 'slug' : plan.slug , 'id' : plan.id }) }}">Photos</a></li>
                    <li><a class="active" href="{{ path('show.plan.reviews', { 'slug' : plan.slug , 'id' : plan.id }) }}">Reviews</a></li>
                    <li></li>
				</ul>
			</div>
		</nav>

		<div class="container margin_60_35">
					<section id="reviews">
						
							<h2>Reviews </h2>
							<div class="reviews-container add_bottom_30">
								<div class="row">
									<div class="col-lg-3">
										<div id="review_summary">
											<strong>
                                            {% if avg_star %}
                                                {{ avg_star }}
                                            {% else %}
                                                0
                                            {% endif %}
                                            </strong>
											<em>Stars</em>
										</div>
									</div>
									<div class="col-lg-9">
										<div class="row">
											<div class="col-lg-10 col-9">
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: {% if nb_five %}{{100-nb_one-nb_two-nb_three-nb_four}}{% else %}0{% endif %}%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>
											<div class="col-lg-2 col-3"><small><strong>5 stars</strong></small></div>
										</div>
										<!-- /row -->
										<div class="row">
											<div class="col-lg-10 col-9">
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: {% if nb_four %}{{100-nb_one-nb_two-nb_three-nb_five}}{% else %}0{% endif %}%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>
											<div class="col-lg-2 col-3"><small><strong>4 stars</strong></small></div>
										</div>
										<!-- /row -->
										<div class="row">
											<div class="col-lg-10 col-9">
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: {% if nb_three %}{{100-nb_one-nb_two-nb_four-nb_five}}{% else %}0{% endif %}%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>
											<div class="col-lg-2 col-3"><small><strong>3 stars</strong></small></div>
										</div>
										<!-- /row -->
										<div class="row">
											<div class="col-lg-10 col-9">
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: {% if nb_two %}{{100-nb_one-nb_four-nb_three-nb_five}}{% else %}0{% endif %}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>
											<div class="col-lg-2 col-3"><small><strong>2 stars</strong></small></div>
										</div>
										<!-- /row -->
										<div class="row">
											<div class="col-lg-10 col-9">
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: {% if nb_one %}{{100-nb_four-nb_two-nb_three-nb_five}}{% else %}0{% endif %}%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>
											<div class="col-lg-2 col-3"><small><strong>1 stars</strong></small></div>
										</div>
										<!-- /row -->
									</div>
								</div>
								<!-- /row -->
							</div>

							<div class="reviews-container" id="rev-delete" >
								{% for review in reviews %}
								<div class="review-box clearfix">
								
									<figure class="rev-thumb">
                                    {% if review.user.image %}
                                        <img src="/uploads/users/{{ review.user.image }}" alt="">
                                    {% else %}
                                        <img src="/img/face.jpg" alt="">  
                                    {% endif %}
									</figure>
									<div class="rev-content">
									<div class="review-user" style="/*! display: flow-root; */float: inline-end;">
											{% if review.user == app.user %}
											<a href="#sign-in-dialog" id="sign-in" class="btn btn-success" ><i class="fas fa-edit"></i></a>
											<button data-id="{{ review.id }}" class="btn btn-danger delete-review"><i class="fas fa-trash-alt"></i></button>
											{% set test = '1' %}
											{% endif %}
										</div>
										<div class="rating">
                                            {% for i in 1..review.rating %}
											    <i class="icon_star voted"></i>
                                            {% endfor %}
										</div>
										<div class="rev-info">
											{{ review.user.firstName }} {{ review.user.lastName }}  {{ review.createdAt|date("m-d-Y H:m") }}
										</div>
										<div class="rev-text">
											<p>{{ review.description }}</p>
										</div>

										

									</div>
								</div>
                                {% endfor %}
								
								
							</div>
							<!-- /review-container -->
						</section>
						<!-- /section -->
						<hr>
						{% if app.user %}
                            {% for role in app.user.roles %}
                                {% if role == 'ROLE_USER' %}
								{% if test == '0' %}
                                    <div class="add-review">
                                        <h5>Leave a Review</h5>
                                        {{ form_start(form) }}
                                            {{ form_widget(form) }}
                                            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
                                        {{ form_end(form) }}
                                    </div>
								{% endif %}
                                {% endif %}
                            {% endfor %}
						{% endif %}
					</div>
					<!-- /col -->	

		</div>
		<!-- /container -->

		{% if app.user %}
		{% for role in app.user.roles %}
            {% if role == 'ROLE_USER' %}
		<!-- Sign In Popup -->
		<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
			<div class="small-dialog-header">
				<h3>Leave a Review</h3>
			</div>
			{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="btn btn-success">{{ button_label|default('Save') }}</button>
			{{ form_end(form) }}
			<!--form -->
		</div>
		<!-- /Sign In Popup -->
		{% endif %}
       {% endfor %}
	{% endif %}
		
		

	


{% endblock %}

{% block javascripts %}

<script>

const review = document.getElementById('rev-delete');

if (review) {
  review.addEventListener('click', e => {
    if (e.target.className === 'btn btn-danger delete-review') {
      if (confirm('Are you sure?')) {
        const id = e.target.getAttribute('data-id');

        fetch(`/review/delete/${id}`, {
          method: 'DELETE'
        }).then(res => window.location.reload());
      }
    }
  });
}


</script>

{% endblock %}
