{% extends 'base-partner.html.twig' %}

{% block title %}Messages{% endblock %}


{% block stylesheets %}
    <style>

        .table i {
            margin-right: 6px;
        }

        .table img {
            width: 150px !important;
            height: 150px !important;
            border-radius: 0 !important;
        }

        table {
        border-collapse: separate;
        border-spacing: 0 5px;
        }

        thead th {
        background-color: #006DCC;
        color: white;
        }

        tbody td {
        background-color: #EEEEEE;
        }

        tr td:first-child,
        tr th:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        }

        tr td:last-child,
        tr th:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        }
    </style>
  
  
{% endblock %}


{% block body %}
    <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Management Photo</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('dashboard_partner') }}"><i class="mdi mdi-home menu-icon"></i> Home</a></li>
                        <li class="breadcrumb-item">Photo</li>
                        <li class="breadcrumb-item active">list</li>
                    </ul>
                </div>
            </div>
        </div>

    <table  id="photos" class="table table-hover c_table theme-color">
        <thead>
            <tr>
                <th>Emitter</th>
                <th>Receivere</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.emitter.firstName }} {{ message.emitter.lastName }}</td>
                <td>{{ message.receivere.firstName }} {{ message.receivere.lastName }}</td>
                <td><a href="{{ path('message_show_partner', { 'id' : message.id }) }}"  class="btn btn-primary">Show</a></td>
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(messages, null, {}, {
                'position': 'centered',
                'size': 'medium',
                'rounded': true,
                }) }}
    </div>

{% endblock %}

{% block javascripts %}



{% endblock %}
