<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Title -->
  <title>{% block title %}Test Application{% endblock %}</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/admin/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/admin/images/favicon.png" />
  {% block stylesheets %}{% endblock %}
</head>
		
    <body>
	 <div class="container-scroller">
	 <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="{{ path('dashboard_admin') }}">
						{{ render(controller(
        'App\\Controller\\IncludesController::logoAction'
    )) }}
    </a>
        <a class="navbar-brand brand-logo-mini" href="{{ path('dashboard_admin') }}"><img src="/admin/images/logo-mini.svg" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <div class="search-field d-none d-md-block">
          
        </div>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <div class="nav-profile-img">
                <img style="width: 32px;height: 32px;border-radius: 100%;" src="{{app.user.image ? '/uploads/users/' ~ app.user.image : '/img/face.jpg' }}" alt="image">
                <span class="availability-status online"></span>             
              </div>
              <div class="nav-profile-text">
                <p class="mb-1 text-black">{{ app.user.firstname }} {{ app.user.lastname }}</p>
              </div>
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
         
              <a class="dropdown-item" href="{{ path('show.profile', { 'slug' : app.user.slug , 'id' : app.user.id }) }}">
                <i class="mdi mdi-account-circle mr-2 text-primary"></i>
                My Profile
              </a>
                        
							<div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ path('account') }}">
                <i class="mdi mdi-settings mr-2 text-primary"></i>
                Setting
              </a>
          
              <a class="dropdown-item" href="{{ path('security_logout') }}">
                <i class="mdi mdi-logout mr-2 text-primary"></i>
                Signout
              </a>
            </div>
          </li>
          <li class="nav-item d-none d-lg-block full-screen-link">
            <a class="nav-link">
              <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-email-outline"></i>
              <span class="count-symbol bg-warning"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
              <h6 class="p-3 mb-0">Messages</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="/admin/images/faces/face4.jpg" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark send you a message</h6>
                  <p class="text-gray mb-0">
                    1 Minutes ago
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="/admin/images/faces/face2.jpg" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Cregh send you a message</h6>
                  <p class="text-gray mb-0">
                    15 Minutes ago
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="/admin/images/faces/face3.jpg" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Profile picture updated</h6>
                  <p class="text-gray mb-0">
                    18 Minutes ago
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <h6 class="p-3 mb-0 text-center">4 new messages</h6>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-bell-outline"></i>
              <span class="count-symbol bg-danger"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <h6 class="p-3 mb-0">Notifications</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="mdi mdi-calendar"></i>
                  </div>
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                  <p class="text-gray ellipsis mb-0">
                    Just a reminder that you have an event today
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="mdi mdi-settings"></i>
                  </div>
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                  <p class="text-gray ellipsis mb-0">
                    Update dashboard
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="mdi mdi-link-variant"></i>
                  </div>
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                  <p class="text-gray ellipsis mb-0">
                    New admin wow!
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <h6 class="p-3 mb-0 text-center">See all notifications</h6>
            </div>
          </li>
          <li class="nav-item nav-logout d-none d-lg-block">
            <a class="nav-link" href="{{ path('security_logout') }}">
              <i class="mdi mdi-power"></i>
            </a>
          </li>
          <li class="nav-item nav-settings d-none d-lg-block">
            <a class="nav-link" href="#">
              <i class="mdi mdi-format-line-spacing"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
	<!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="nav-profile-image">
                <img style="width: 32px;height: 32px;border-radius: 100%;" src="{{app.user.image ? '/uploads/users/' ~ app.user.image : '/img/face.jpg' }}" alt="image">
              </div>
              <div class="nav-profile-text d-flex flex-column">
                <span class="font-weight-bold mb-2">{{ app.user.firstname }} {{ app.user.lastname }}</span>
                <span class="text-secondary text-small">Admin</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('dashboard_admin') }}">
              <span class="menu-title">Dashboard</span>
              <i class="mdi mdi-home menu-icon"></i>
            </a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="{{ path('user_index') }}">
              <span class="menu-title">Management Users</span>
              <i class="mdi mdi-account-multiple menu-icon"></i>
            </a>
          </li>

		  <li class="nav-item">
            <a class="nav-link" href="{{ path('plan_index') }}">
              <span class="menu-title">Management Plan</span>
              <i class="mdi mdi-content-copy menu-icon"></i>
            </a>
          </li>

		  <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_settings') }}">
              <span class="menu-title">Management content</span>
              <i class="mdi mdi-auto-fix menu-icon"></i>
            </a>
          </li>

		<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-category" aria-expanded="false" aria-controls="ui-category">
              <span class="menu-title">Management Category</span>
              <i class="menu-arrow"></i>
              <i class=" mdi mdi-buffer menu-icon"></i>
            </a>
            <div class="collapse" id="ui-category">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{ path('category_index') }}">Show All</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{ path('category_new') }}">Add New</a></li>
              </ul>
            </div>
          </li>

		  <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-services" aria-expanded="false" aria-controls="ui-services">
              <span class="menu-title">Management Services</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-layers menu-icon"></i>
            </a>
            <div class="collapse" id="ui-services">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{ path('service_index') }}">Show All</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{ path('service_new') }}">Add New</a></li>
              </ul>
            </div>
          </li>

		  <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-gov" aria-expanded="false" aria-controls="ui-gov">
              <span class="menu-title">Management Governorate</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-directions-fork menu-icon"></i>
            </a>
            <div class="collapse" id="ui-gov">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{ path('governorate_index') }}">Show All</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{ path('governorate_new') }}">Add New </a></li>
              </ul>
            </div>
          </li>

		  <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-city" aria-expanded="false"  aria-controls="ui-city" >
              <span class="menu-title">Management City</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-directions menu-icon"></i>
            </a>
            <div class="collapse" id="ui-city">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{ path('city_index') }}">Show All</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{ path('city_new') }}">Add New</a></li>
              </ul>
            </div>
          </li>

        </ul>
      </nav>

	<!-- partial --><!-- Main Content -->
    <div class="main-panel">
        <div class="content-wrapper">
                {% block body %}{% endblock %}          
		</div>
	</div>
		
  <!-- plugins:js -->
  <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
  <script src="/admin/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/admin/js/off-canvas.js"></script>
  <script src="/admin/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/admin/js/dashboard.js"></script>
  <!-- End custom js for this page-->
  {% block javascripts %}{% endblock %}
</body>
</html>
